<h1><center><u>Users</u></center></h1>

<br>

<div class="row">
<% @users.each do |user| %>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <img id="user-picture" src="<%= user.picture.profile.url %>">
        <div class="caption">
          <h3><%= link_to user.user_name, user_path(user) %></h3>
          <p><%=user.tagline%></p>
        </div>
      </div>
    </div>
<% end %>
</div>

<div class="paginate"><%= paginate @users %></div>
