<h1 id="welcome-header"><center>Welcome to Enjeera</center></h1>
  <!-- <center><img src="shadow_man_update.jpg" id="shadow_man"></center> -->
<h2 id="header">We are a career exploration platform that connects students and recent graduates with companies for job shadows and informational interviews.</h2>
<div id="apply-button"><%= link_to "Apply to Companies", companies_path, :class => "btn btn-primary btn-lg" %></div>
</div>
