<h1>Create Application Questions</h1>

<% if @application_question.errors.any? %>
  <ul>
    <% @application_question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= render "question_form", company: @company%>
<%#= form_for @application_question, url: company_application_questions_path(@company) do |f| %>
  <!-- <br/> -->

  <%#= f.nested_fields_for :application_questions do |ff| %>
    <%#= ff.remove_nested_fields_link %>
    <%#= ff.text_field :question %>
  <%# end %>

  <!-- <br/> -->

  <%#= f.add_nested_fields_link :application_questions %>

  <!-- <br/> -->

  <%#= f.submit "Update Questions" %>
<%# end %>
