<div id="cover_message">
  <%#= f.label "Tagline" %>
  <%#= f.text_field :tagline %>
  <%#= f.label question.question.%>
  <div class="form-group">
    <label><%= question.question %></label>
    <%= ff.text_area :answer, class: "form-control", rows: "2"%>
  </div>
</div>



    <p><%#= question.question %></p>
    <%#= ff.text_area :answer %>
