/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url("/man-with-shadow.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
  padding-top: 50px;
}

#wrapper {
  background-color: #F8F8F8;
  padding: 25px;
  margin: 25px;
  border-radius: 15px;
  border: solid lightgrey 1px;
  background:rgba(248,248,248,0.90);
}

#flash {
  background-color: lightblue;
  text-align: center;
}

#logout {
  float: right;
}

#logo {
  width: 155px;
  position: relative;
  bottom: 10px;
  left: 10px;
}

.paginate {
  size: 25px;
}
